.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #cbced2;
  padding: 30px;
  list-style-type: none;
  margin: 10px 0;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #cbced2;
  padding: 30px;
  list-style-type: none;
  margin: 10px 0;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #cbced2;
  padding: 30px;
  list-style-type: none;
  margin: 10px 0;
}

/* Write your code here. */
.headding {
  color: #326a9d;
}
.description {
  color: #64748b;
}
.card-btn {
  color: #326a9d;
  border: 2px #326a9d solid;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  height: 2rem;
  width: 8rem;
}
